.profil
{
    width: 70%;
}

@media screen and (max-width: 1199px) {
    .profil
    {
        width: 85%;
    }
}

@media screen and (max-width: 991px) {
    .profil
    {
        width: 100%;
        height: 95%;
    }
}

@media screen and (max-width: 750px) {
    .profil
    {
        width: 50%;
    }
}
