{% extends  'layout.html.twig' %}

{% block title 'Ajout d\'un produit' %}

{% block body %}
    <div class="container" style="margin-top: 40px;">
        <div class="row justify-content-center">
            <div class="col-6">
                <br/>
                <h1 class="text-center">Ajouter un produit</h1>
                <hr>
            </div>
        </div>
        {{ include('boutique/form.html.twig', {button: 'Ajouter'}) }}
    </div>
{% endblock %}