{% extends './layout.html.twig' %}

{% block title 'CGA' %}

{% block body %}
    <br/>
    <h4>I / Champ d’application</h4>
    <p>1.2.1 : Les CGA s’appliquent à toute Fourniture commandée par l’Acheteur au Fournisseur. Elles sont
    une condition déterminante des relations contractuelles entre l’Acheteur et le Fournisseur.<br/>
    1.2.2 : Les présentes CGA emportent renonciation
    par le Fournisseur à ses Conditions Générales de
    Vente ou de Service.<br/>
    1.2.3 : Les présentes CGA ne peuvent être modifiées que par un accord écrit et signé des Parties.<br/>
    1.2.4 : Le fait que l’Acheteur ne se prévale pas, à
    un moment donné, de l’une quelconque des dispositions des CGA ne peut être interprété comme valant renonciation à s’en prévaloir ultérieurement.<p/>
    <h4>II / COMMANDE</h4>
    <p>2.1 / Etablissement du devis<br/>
    2.1.1 : Le devis est établi par le Fournisseur, en fonction de la demande formulée par l’Acheteur. Le
    devis doit clairement indiquer le prix proposé pour
    la Fourniture, les frais spécifiques de fabrication
    (outillages) et les frais de transport.<br/>
    2.1.2 : L’Acheteur peut décider de prendre lui-même
    en charge le transport ou de faire appel à un
    sous-traitant. Dans ces hypothèses, l’Acheteur doit
    en informer le Fournisseur et celui-ci doit signaler
    à l’Acheteur la mise à disposition de la Fourniture
    au moins quarante-huit (48) heures avant l’enlèvement.<br/>
    2.2 / Etablissement de la Commande
    Après accord des Parties sur le devis, l’Acheteur
    procède au référencement du Fournisseur, établit
    la Commande et l’adresse au Fournisseur par tous
    moyens.<br/>
    2.3 / Acceptation de la Commande<br/>
    2.3.1 : La Commande est réputée acceptée à réception par l’Acheteur d’un accusé de réception
    ou, à défaut, automatiquement à l’issue d’un délai
    de quarante-huit (48) heures.<br/>
    2.3.2 : Le Fournisseur ne peut apporter de modifications de quelque nature qu’elles soient à la
    Commande sans l’accord préalable et écrit de
    l’Acheteur.<br/>
    2.4 / Transfert – cession – sous-traitance<br/>
    2.4.1 : Le Fournisseur s’engage à ne transférer, céder ou sous-traiter l’exécution de tout ou partie de
    la Commande ainsi que les droits et obligations y
    afférents à un tiers qu’avec l’accord préalable et
    écrit de l’Acheteur.<br/>
    2.4.2 : En toute hypothèse, le Fournisseur demeure seul responsable de ses obligations à
    l’égard de l’Acheteur.<br/>
    2.4.3 : L’Acheteur se réserve le droit de transférer
    ou céder à un tiers de son choix tout ou partie de
    la Commande ainsi que les droits et obligations
    y afférents, sous réserve de notification écrite au
    Fournisseur.<p/>
    <h4>III / LIVRAISON / DATE DE REALISATION DES SERVICES</h4>
    <p>3.1 / Modalités de livraison de la Fourniture
    Les livraisons doivent être effectuées selon les
    modalités prévues à la Commande. Toutes les expéditions doivent être convenablement emballées,
    marquées et mises à disposition selon les instructions de l’Acheteur. Les emballages, présentations,
    modes d’emploi et descriptions doivent être en
    langue française.
    Dans le cas où le moyen de transport est choisi par
    le Fournisseur, il doit être adapté à la Fourniture
    transportée.
    Le Fournisseur est responsable de la casse, des
    manquants et des avaries provenant d’un emballage insuffisant.<br/>
    3.2 / Délais
    Les délais de livraison des produits ou de réalisation des services sont impératifs ; ils sont une
    condition déterminante sans laquelle l’Acheteur ne
    contracterait pas avec le Fournisseur. Il en est de
    même pour le lieu de livraison.
    En cas de livraison prématurée, l’Acheteur peut soit
    la retourner aux frais du Fournisseur, soit l’accepter et facturer au Fournisseur les frais de stockage
    jusqu’à la date de livraison prévue à la Commande.
    En cas d’absence de livraison à la date prévue,
    l’Acheteur peut à sa convenance, facturer des
    pénalités de retard au Fournisseur conformément
    à l’article 3.5.1 ci-dessous, résilier la Commande
    conformément à l’article IX ci-dessous, et s’il le
    souhaite renvoyer les Fournitures aux frais du
    Fournisseur.<br/>
    3.3 / Bon de Livraison<br/>
    3.3.1 : Toute livraison de Fourniture est accompagnée d’un Bon de Livraison. Ce dernier comprend
    notamment les informations suivantes :<br/>
    • le numéro de la Commande,<br/>
    • la référence de la Fourniture,<br/>
    • la désignation de la Fourniture telle que mentionnée dans la Commande,<br/>
    • la quantité livrée,<br/>
    • le numéro de série,<br/>
    • le numéro individuel des pièces,<br/>
    • le nom du réceptionnaire,<br/>
    • la Déclaration de Conformité.<br/>
    Aucune mention du Bon de Livraison ne peut modifier les présentes CGA.<br/>
    3.3.2 : A réception des Fournitures, l’Acheteur accuse réception de la livraison en apposant son cachet et sa signature sur le Bon de Livraison ou sur
    le Procès-Verbal de Réception.<br/>
    3.4 / Conformité<br/>
    3.4.1 : La Fourniture doit être conforme aux stipulations contractuelles ainsi qu’aux normes européennes en vigueur. Le Fournisseur doit être en
    mesure de communiquer à première demande et
    dans les huit (8) jours à compter de cette dernière
    tout justificatif attestant de la conformité de la
    Fourniture aux normes en vigueur.
    L’Acheteur se réserve le droit de demander la livraison d’un « Premier de série » pour validation par
    ses services techniques.<br/>
    3.4.2 : En cas de non-conformité de la Commande,
    l’Acheteur fera ses meilleurs efforts pour indiquer
    ses réserves sur le Bon de Livraison ou les notifier
    au Fournisseur dans les plus brefs délais à compter de la livraison.
    Dans cette hypothèse, l’Acheteur peut refuser la
    livraison, sans indemnité ni paiement du prix de
    la Commande au Fournisseur, et la retourner aux
    frais, risques et périls du Fournisseur. Elle est alors
    réputée non livrée et donne lieu aux pénalités prévues à l’article 3.5 ci-après.<br/>
    3.5 / Retard et non-conformité<br/>
    3.5.1 : En cas de retard dans la livraison de la Fourniture, l’Acheteur se réserve le droit d’appliquer
    une pénalité non libératoire équivalent à 5% du
    montant de la Commande par jour de retard.<br/>
    3.5.2 : Sans préjudice de ce qui précède, le Fournisseur supporte l’ensemble des dommages directs et indirects matériels et immatériels causés à
    l’Acheteur consécutifs :<br/>
    • aux retards ou défauts de livraison (même
    partiels) de la Fourniture,<br/>
    • à la livraison non conforme de la Fourniture à
    la Commande.<br/>
    3.5.3 : Un retard dans la livraison ou une Fourniture non conforme peuvent donner lieu à l’application par l’Acheteur de la clause résolutoire prévue
    à l’article IX ci-après.<br/>
    3.6 / Transfert de propriété et transfert de risques<br/>
    3.6.1 : Sauf stipulation contraire de la Commande,<br/>
    la Fourniture devient la propriété de l’Acheteur dès
    sa livraison au lieu fixé par celui-ci.
    Les risques sont à la charge du Fournisseur
    jusqu’au déchargement de la Fourniture au lieu de
    livraison.<br/>
    3.6.2 : En toutes hypothèses, le transfert de propriété ne peut être interprété comme une acceptation de l’Acheteur quant à la qualité et/ou la
    conformité de la Fourniture, et il ne peut en être
    tiré de conséquences quant au paiement ou ses
    modalités.<br/>
    3.7 / Cas particulier des biens confiés
    Les biens confiés sont exclusivement réservés à la
    réalisation des Commandes de l’Acheteur et sont
    considérés comme prêtés au sens des articles 1875
    et suivants du Code civil. Ils restent la propriété de
    l’Acheteur ou de la personne les ayant confiés à
    l’Acheteur. Ils doivent être identifiés comme tels
    et entreposés de manière à éviter toute confusion
    avec les biens du Fournisseur ou d’un tiers. Au
    moment de la remise du bien confié, l’Acheteur et
    le Fournisseur effectuent un inventaire contradictoire. Le Fournisseur s’engage à restituer les biens
    confiés en bon état.<p/>
    <h4>IV/ REGLEMENT</h4>
    <p>4.1 / Prix
    Le prix mentionné sur le bon de Commande est
    ferme et définitif.
    Les frais de transport doivent être clairement mentionnés.
    Tout autre coût supplémentaire de quelque nature
    que ce soit doit faire l’objet d’un accord écrit et préalable de l’Acheteur.<br/>
    4.2 / Paiement<br/>
    4.2.1 : Le paiement de la Fourniture est effectué
    dans un délai de soixante (60) jours à compter de
    la date d’émission de la facture. Toutefois ce délai est de trente (30) jours pour le transport routier
    de marchandises, pour la location de véhicules
    avec ou sans conducteur, pour la commission de
    transport ainsi que pour les activités de transitaire,
    d’agent maritime et de fret aérien, de courtier de
    fret et de commissionnaire en douane.
    Sauf stipulation contraire, aucun acompte n’est
    versé à la Commande.<br/>
    4.2.2 : En cas de retard de paiement de tout ou
    partie de la Commande, une pénalité de retard
    égale à trois (3) fois le taux de l’intérêt légal, peut
    être appliquée par le Fournisseur, outre une indemnité forfaitaire pour frais de recouvrement d’un
    montant de quarante (40) Euros sans qu’une mise
    en demeure préalable ne soit nécessaire.<br/>
    4.2.3 : Le paiement ne vaut pas accord sur la Fourniture livrée ni sur le montant facturé et n’emporte
    en aucun cas renonciation à un recours ultérieur
    de la part de l’Acheteur.<br/>
    4.2.4 : L’Acheteur aura la faculté de compenser les
    sommes dont le Fournisseur lui serait redevable à
    quelque titre que ce soit avec celles dont l’Acheteur serait redevable au Fournisseur dans le cadre
    de la Commande.<p/>
    <h4>V / CONTRÔLE DE L’EXECUTION</h4>
    <p>5.1 / Inspection des installations de fabrication<br/>
    L’Acheteur peut inspecter à ses frais, à tout moment, les installations de fabrication du Fournisseur.<br/>
    5.2 / Force majeure
    Aucune des Parties ne pourra être tenue responsable d’un manquement quelconque à l’une de ses
    obligations, si ce manquement résulte d’un cas de
    force majeure telle que cette notion est définie par
    la jurisprudence de la Cour de Cassation.
    La Partie qui l’invoque doit prévenir l’autre Partie
    par lettre recommandée avec avis de réception
    dans les trois (3) jours ouvrables de l’apparition de
    l’événement. Si la durée de cet événement venait
    à dépasser plus d’un (1) mois à compter de la date
    de la lettre visée ci-dessus, l’Acheteur se réserve
    le droit de résilier la Commande sans qu’aucune
    indemnité ne puisse lui être réclamée.<p/>
    <h4>VI / GARANTIE</h4>
    <p>6.1 / Mise en conformité
    En cas de Fourniture présentant un défaut ou vice
    le rendant impropre à sa destination, ou plus généralement non-conformes aux spécifications
    contractuelles, réglementaires ou légales, l’Acheteur peut
    • mettre en application les dispositions de la
    clause résolutoire prévue à l’article IX, ou<br/>
    • exiger du Fournisseur la réparation ou le
    remplacement de la Fourniture aux frais du
    Fournisseur.<br/>
    La réparation, le remplacement, ou le remboursement doivent intervenir dans un délai maximum de
    huit (8) jours à compter de la notification du défaut
    ou vice au Fournisseur. Au-delà de ce délai, l’Acheteur se réserve le droit d’appliquer une pénalité
    non libératoire équivalent à 5% du montant de la
    Commande par jour de retard.<br/>
    6.2 / Durée de validité<br/>
    6.2.1 : La garantie est valable pendant une durée
    de deux (2) ans à compter du Bon de Livraison ou
    du Procès-Verbal de Réception.
    En cas de réparation ou de remplacement de la
    Fourniture, une nouvelle période de garantie de
    vingt-quatre mois sur la Fourniture court à compter
    de sa réparation effective ou son remplacement.<br/>
    6.2.2 : Pendant une durée de dix (10) ans, le Fournisseur s’engage à fournir les pièces détachées
    (d’origine ou interchangeables) et à garantir l’intégrité des structures, l’anticorrosion, l’adhésion
    peinture et la teinte des produits.<br/>
    6.3 / Inexécution de la garantie
    Dans l’hypothèse où le Fournisseur serait dans
    l’incapacité d’assurer l’exécution de sa garantie,
    l’Acheteur se réserve le droit de faire exécuter les
    réparations et/ou remplacements nécessaires par
    un tiers aux frais du Fournisseur sans préjudice
    de l’application des dispositions de l’article IX ciaprès.<p/>
    <h4>VII / RESPONSABILITE - ASSURANCE</h4>
    <p>7.1 / Responsabilité contractuelle
    Le Fournisseur est responsable de tout dommage
    ou perte de toute nature subi(e) par l’Acheteur du
    fait de toute inexécution ou mauvaise exécution
    de la Commande liée notamment aux défauts de
    conception, de conformité, de réalisation, de fonctionnement ou de performance de la Fourniture.
    L’assistance que l’Acheteur peut apporter au Fournisseur pour la réalisation de la Fourniture ou les
    contrôles que l’Acheteur se réserve d’effectuer,
    n’exonèrent en rien le Fournisseur de sa responsabilité.
    Le Fournisseur est responsable vis-à-vis de l’Acheteur de toute inexécution ou mauvaise exécution
    de la Commande de ses sous-traitants et/ou partenaires, impliqués dans l’exécution de la Commande, et de tout dommage qui pourrait en résulter.<br/>
    7.2 / Assurance
    Le Fournisseur s’engage à souscrire et à maintenir
    en vigueur les assurances nécessaires à la couverture de sa responsabilité. A ce titre, le Fournisseur
    communiquera tout justificatif des polices d’assurances à la première demande de l’Acheteur. En
    cas d’insuffisance de couverture, l’Acheteur pourra exiger aux frais du Fournisseur, la souscription
    de garanties complémentaires. Les assurances
    ne constituent pas une limite de responsabilité du
    Fournisseur.<p/>
    <h4>VIII/PROPRIETE/PROPRIETE INTELLECTUELLE</h4>
    <p>Tous les équipements, modèles, plans, spécifications et autres éléments d’information fournis et/ou
    payés le cas échéant par l’Acheteur dans le cadre
    de la Commande demeurent à tout moment la propriété de l’Acheteur et ne peuvent êtres utilisés par
    le Fournisseur que pour les besoins de l’exécution
    de la Commande.
    Le Fournisseur ne saurait revendiquer une quelconque propriété sur les équipements, modèles,
    plans, spécifications et autres éléments d’information et ne pourra en aucun cas les utiliser hors du
    cadre de la Commande.
    Sauf stipulation particulière, l’ensemble des droits
    de propriété intellectuelle cessibles (notamment
    mais non limitativement les droits d’exploitation,
    de reproduction, de représentation, de modification…) concernant les résultats tangibles et/ ou intangibles de l’exécution de la Commande restent
    la propriété de l’Acheteur pour la durée légale de
    protection du droit concerné, pour la France et le
    monde entier.
    Le Fournisseur garantit par ailleurs disposer de
    tous les droits de propriété intellectuelle sur les
    Fournitures et partant de leur libre usage à l’égard
    de tiers.
    Le Fournisseur garantit donc l’Acheteur contre
    toute réclamation et/ou revendication émanant de
    tiers et qui serait fondée sur des droits de propriété
    intellectuelle relatifs aux Fournitures.
    Aussi, le Fournisseur indemnisera l’Acheteur de
    tous les dommages directs et indirects, matériels
    et immatériels résultant que ce dernier aura pu
    subir du fait des réclamations et/ou revendications
    susmentionnées.<p/>
    <h4>IX / RESILIATION</h4>
    <p>En cas de manquement du Fournisseur à ses obligations contractuelles, l’Acheteur aura la faculté,
    après mise en demeure restée sans effet pendant
    un délai de quinze (15) jours, de résilier la Commande, sans préjudice de ses droits à dommages
    et intérêts.
    En outre, un changement important dans l’organisation sociale et industrielle du Fournisseur pouvant préjudicier à la bonne exécution de la Commande, une cessation volontaire d’activité, et la
    prise de participation dans le capital du Fournisseur par une société directement ou indirectement
    concurrente de l’Acheteur permettent également à
    l’Acheteur de résilier la Commande de plein droit,
    avec effet immédiat et sans que cette résiliation
    n’ouvre droit à indemnité pour le Fournisseur.<p/>
    <h4>X / CONFIDENTIALITE</h4>
    <p>10.1 / Principe
    Sauf accord préalable et écrit de l’Acheteur, le Fournisseur s’engage à préserver la confidentialité la
    plus absolue sur toutes les informations, données,
    ou documents, transmis par écrit ou oralement, ou
    dont il aurait eu connaissance par quelque moyen
    que ce soit (ci-après les « Informations Confidentielles ») dans le cadre de l’exécution de la Commande, et à ne pas divulguer directement ou indirectement les Informations Confidentielles. De
    même les relations commerciales avec l’Acheteur
    ne peuvent donner lieu à une publicité directe ou
    indirecte.<br/>
    10.2 / Durée
    Le Fournisseur est tenu à cette obligation pour une
    durée indéterminée, étant expressément rappelé
    qu’il s’engage à n’utiliser les Informations Confidentielles que pour l’exécution de ses obligations
    au titre des présentes, et à ne les communiquer
    qu’à ses préposés, sous-traitants ou partenaires
    qui en ont l’utilité pour l’exécution de la Commande.<br/>
    10.3 / Portée
    Le Fournisseur se porte fort du respect de cette
    obligation par tous ses préposés, sous-traitants,
    partenaires, et est responsable de toutes les
    conséquences dommageables qui pourraient,
    même indirectement, résulter de son inobservation
    par l’un d’entre eux. Chacun des salariés affectés à
    l’exécution de la Commande avec l’Acheteur devra
    signer un engagement personnel de confidentialité.<br/>
    10.4 / Exception
    La présente obligation de confidentialité ne s’applique pas au Fournisseur en cas d’injonction administrative ou judiciaire ou pour faire valoir ses
    droits dans le cadre d’une procédure administrative ou contentieuse.<p/>
    <h4>XI / DISPOSITIONS FISCALES ET SOCIALES</h4>
    <p>Le Fournisseur certifie à l’Acheteur que sa situation
    est régulière vis à vis de l’administration fiscale et
    des organismes de protection sociale. Il déclare
    s’être acquitté des différentes obligations énumérées aux articles L.1221-10, L.1221-13 et L.1221-16 et
    suivants du Code du travail et certifie sur l’honneur
    que le travail sera effectué par des travailleurs en
    situation régulière. Il garantit l’Acheteur contre tout
    recours à ce sujet. Il s’engage également à communiquer à l’Acheteur à première demande l’état
    de ses comptes.<p/>
    <h4>XII /DISPOSITIONS ENVIRONNEMENTALES</h4>
    <p>L’Acheteur attache une grande importance au respect des dispositions en faveur du développement
    durable.
    A cette fin, Le Fournisseur s’engage à faire ses
    meilleurs efforts pour recourir à des procédés,
    utiliser des matériaux ou produits, respectueux de
    l’environnement.
    Le Fournisseur s’engage à communiquer sur demande à l’Acheteur les informations relatives aux
    conséquences de l’activité de la société sur l’environnement listées à l’article R. 225-105 du Code
    de commerce.<p/>
    <h4>XIII / LOI APPLICABLE - JURIDICTION</h4>
    <p>13.1 / Loi française
    Les Commandes, ainsi que les présentes CGA, sont
    soumis à la loi française. Les Parties renoncent expressément à l’application de la Convention des
    Nations Unies sur les contrats de vente internationale de marchandises du 11 avril 1980.<br/>
    13.2 / Juridiction compétente
    Toute contestation relative à la validité, l’interprétation, l’exécution et/ou la résiliation de la
    Commande sera de convention expresse de la
    compétence exclusive des tribunaux de Nanterre
    nonobstant pluralité</p>

{% endblock %}